
#main-content {
	height: 100%;
	margin-left: 20px;
}

.error {
	color: red;
}

.juxta-brand {
	
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}

.page-header {
	margin-left: 20px;
}

.page-footer {
	clear: both;
	margin-top: 20px;
	padding-right: 20px;
	width: 100%;
	height: 80px;
	background: #eaeaea;	
}
