<div class="page-header">

  <div align="center" id="headerimg">
    <a href="/index.html"><img alt="Melville Electronic Library - a critical archive" border="0" height="96" src="../images/header_top.jpg" width="1024"/></a>
  </div>

  <div align="center" id="headernav">
    <a href="/index.html">HOME</a> |
    <a href="/editions.html">EDITIONS</a> |
    <a href="/manuscripts.html">MANUSCRIPTS</a> |
    <a href="/sources.html">SOURCES</a> |
    <a href="/gallery.html">GALLERY</a> |
    <a href="/adaptation.html">ADAPTATION</a> |
    <a href="/biography.html">BIOGRAPHY</a> |
    <a href="/criticism.html">CRITICISM</a> |
    <a href="/about_us.html">ABOUT US</a> |
    <a href="/mel_camp.html">MELCamp</a>
  </div>

  <div id="header_nav_bg">&nbsp;
  </div>

</div>		 
